body, * {
	box-sizing: border-box;
	font-family: Veranda, sans-serif;
}

ul {list-style-type: none;}

section {
	padding: 30px 20px;
	margin: 0 auto;
}

input {
	padding: 10px 20px;
	margin: 10px auto;
}

form {
	background-color: #004e66;
	padding: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

form label,
form input,
form button {
  margin-bottom: 3px;
  display: block;
  width: 80%;
	margin: 0 auto;
}

form label,
form small {
	color: #fcbe32;
}

form input {
  height: 25px;
  line-height: 25px;
  background: #fff;
  padding: 0 6px;
	border: 1px solid black;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form button {
  height: 30px;
  background: #ff5f2e;
  color: #fff;
  cursor: pointer;
}

/*form .error {
	font-size: 12px;
	color: red;
}*/
